# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-46d3e13134fb4b04a779.json
build/.cmake/api/v1/reply/cmakeFiles-v1-6627611d78541a14b077.json
build/.cmake/api/v1/reply/codemodel-v2-af27d2651771f6917ad7.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-10-28T14-50-34-0382.json
build/.cmake/api/v1/reply/target-designPatterns-Debug-9e38daf8da2ecc7dca63.json
build/.cmake/api/v1/reply/toolchains-v1-275773627bbf87d90c0d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeSystem.cmake
build/CMakeFiles/3.31.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/designPatterns.dir/build.make
build/CMakeFiles/designPatterns.dir/cmake_clean.cmake
build/CMakeFiles/designPatterns.dir/compiler_depend.internal
build/CMakeFiles/designPatterns.dir/compiler_depend.make
build/CMakeFiles/designPatterns.dir/compiler_depend.ts
build/CMakeFiles/designPatterns.dir/depend.make
build/CMakeFiles/designPatterns.dir/DependInfo.cmake
build/CMakeFiles/designPatterns.dir/flags.make
build/CMakeFiles/designPatterns.dir/link.txt
build/CMakeFiles/designPatterns.dir/linkLibs.rsp
build/CMakeFiles/designPatterns.dir/objects1.rsp
build/CMakeFiles/designPatterns.dir/progress.make
