# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-46d3e13134fb4b04a779.json
build/.cmake/api/v1/reply/cmakeFiles-v1-6627611d78541a14b077.json
build/.cmake/api/v1/reply/codemodel-v2-af27d2651771f6917ad7.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-10-28T14-50-34-0382.json
build/.cmake/api/v1/reply/target-designPatterns-Debug-9e38daf8da2ecc7dca63.json
build/.cmake/api/v1/reply/toolchains-v1-275773627bbf87d90c0d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.0-rc2/CMakeSystem.cmake
build/CMakeFiles/3.31.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/designPatterns.dir/build.make
build/CMakeFiles/designPatterns.dir/cmake_clean.cmake
build/CMakeFiles/designPatterns.dir/compiler_depend.internal
build/CMakeFiles/designPatterns.dir/compiler_depend.make
build/CMakeFiles/designPatterns.dir/compiler_depend.ts
build/CMakeFiles/designPatterns.dir/depend.make
build/CMakeFiles/designPatterns.dir/DependInfo.cmake
build/CMakeFiles/designPatterns.dir/flags.make
build/CMakeFiles/designPatterns.dir/link.txt
build/CMakeFiles/designPatterns.dir/linkLibs.rsp
build/CMakeFiles/designPatterns.dir/objects1.rsp
build/CMakeFiles/designPatterns.dir/progress.make
/cmake-build-debug/
.idea/.gitignore
.idea/.name
.idea/learn-design-patterns.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
out/build/GCC 11.2.0 x86_64-w64-mingw32/cmake_install.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeCache.txt
out/build/GCC 11.2.0 x86_64-w64-mingw32/Makefile
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/query/client-vscode/query.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/cache-v2-b20ee2eb9a8adac9645f.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/cmakeFiles-v1-c2155bd704e5489d4a0c.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/codemodel-v2-260774636a753f8af8b7.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/index-2024-10-29T13-25-39-0631.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/target-designPatterns-Debug-bdfdecb9e6980bbe3be2.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/toolchains-v1-ce57407ebc4680f52508.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/cmake.check_cache
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/CMakeConfigureLog.yaml
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/CMakeDirectoryInformation.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/Makefile.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/Makefile2
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/progress.marks
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/TargetDirectories.txt
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/3.31.0-rc2/CMakeCCompiler.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/3.31.0-rc2/CMakeCXXCompiler.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/3.31.0-rc2/CMakeDetermineCompilerABI_C.bin
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/3.31.0-rc2/CMakeDetermineCompilerABI_CXX.bin
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/3.31.0-rc2/CMakeRCCompiler.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/3.31.0-rc2/CMakeSystem.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/3.31.0-rc2/CompilerIdC/CMakeCCompilerId.c
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/3.31.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/build.make
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/cmake_clean.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/compiler_depend.make
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/compiler_depend.ts
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/depend.make
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/DependInfo.cmake
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/flags.make
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/link.txt
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/linkLibs.rsp
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/objects1.rsp
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/progress.make
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/index-2024-10-30T09-50-59-0095.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/CMakeFiles/designPatterns.dir/compiler_depend.internal
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/index-2024-10-31T11-08-25-0959.json
.vscode/settings.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/codemodel-v2-1f4d45ec89ef0a10db3f.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/index-2024-11-06T09-31-34-0781.json
out/build/GCC 11.2.0 x86_64-w64-mingw32/.cmake/api/v1/reply/target-designPatterns-Debug-f806cda670e97dd49fe1.json
